body {
	min-height: 75rem;
	padding-top: 4.5rem;
}

.btn-group {
	width: 180px;
}

.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.navbar {
	height: 60px;
}

.nice-number input {
	vertical-align: middle;
	-moz-appearance: textfield;
	box-sizing: content-box;
	text-align: center;
	margin: 10px !important;
}
/* Warna font */
.navbar-dark .navbar-nav .nav-link {
	color: white;
}

/* Warna font hover */
.navbar-nav .nav-item:hover .nav-link {
	color: silver;
	border-bottom: 1px;
}

@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}
