body {
	min-height: 75rem;
	padding-top: 4.5rem;
}

.btn-group {
	width: 180px;
}

.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.navbar {
	height: 60px;
}

.nice-number input {
	vertical-align: middle;
	-moz-appearance: textfield;
	box-sizing: content-box;
	text-align: center;
	margin: 10px !important;
}

.figure-image {
	position: relative;
}

.figure-image a {
	position: absolute;
	top: 0;
	bottom: 8px;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.7);
	opacity: 0;
	transition: opacity 0.3s;
}

.figure-image:hover a {
	opacity: 1;
}

/* Warna font */
.navbar-dark .navbar-nav .nav-link {
	color: white;
}

/* Warna font hover */
.navbar-nav .nav-item:hover .nav-link {
	color: rgb(209, 207, 207);
	border-bottom: 2px solid white;
}

@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}
