body {
     min-height: 75rem;
     padding-top: 4.5rem;
}

.bd-placeholder-img {
     font-size: 1.125rem;
     text-anchor: middle;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
}

/* Warna font */
.navbar-dark .navbar-nav .nav-link {
     color: white;
}

/* Warna font hover */
.navbar-nav .nav-item:hover .nav-link {
     color: #dfe6e9;
}

@media (min-width: 768px) {
     .bd-placeholder-img-lg {
          font-size: 3.5rem;
     }
}